body {
  background-color: #5328BF;background-image:url(http://c3e308.medialib.glogster.com/media/cd/cd526905e568a6ca76608763a0f0849e3e49f895d1730808e9e849253a014958/blue-pattern-twitter-background.jpg);
  background-size: contain;background-origin:border-box
}

button{
	padding:0;
	margin:0;
}

div{
	padding:0;
	margin:0;
}

.btn {
  style: block;
  text-align: center;
}

.sqr1{
	width: 30vw;
	height:30vw;
}

#top-main {
	top:0;
	width:100vw;
	height:50%;
}

#top-left {
	float:left;
	width:50vw;
}

#top-right {
	float:right;
	width:50vw;
}

#bottom-main{
	width:100vw;
	height:50%;
	padding:0px;
	margin:0px;
	border: 5px solid black;
	float:left;
}

#buttons {  
  width: 90vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

#talk-button{
	
}
