body {
  background-color: #5328BF;
}

button{
	padding:0;
	margin:0;
}

div{
	padding:0;
	margin:0;
}

.btn {
  style: block;
  text-align: center;
}

.sqr1{
	width: 30vw;
	height:30vw;
}

#top-main {
	top:0;
	width:100vw;
	height:50%;
}

#top-left {
	float:left;
	width:50vw;
}

#top-right {
	float:right;
	width:50vw;
}

#bottom-main{
	width:100vw;
	height:50%;
	padding:0px;
	margin:0px;
	border: 5px solid black;
	float:left;
}

#buttons {  
  width: 90vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

#talk-button{
	
}
