body {
  background-color: #5328BF;
}

h1 {
  text-align: center; 
  color: #FFFFFF;
}

div {
  
  width: 90vw;
  margin-left: 4vw;
  margin-right: 4vw;
  padding: 0;
  border:5px solid black;
}

.btn {
  style: block;
  text-align: center;
}

button{
	padding:0;
	margin:0;
}

.square{
	width: 30vw;
	height:30vw;
}

.top-main {
	width:50%;
	height:50%;
	padding:0px;
	margin:0px;
}

#bottom-main{
	width:100%;
	height:50%;
	padding:0px;
	margin:0px;
}

#talk-button{
	
	
	
}
